


<div class="{{inputClass}}">
    {{#if label}}<label class="{{labelClass}}" for="{{labelFor}}">{{labelText}}</label>{{/if}}
    <textarea class="textarea__field"  value="{{value}}" name="{{inputName}}" placeholder="{{inputPlaceholder}}" rows="{{rows}}" maxlength="{{maxlength}}" {{#if disabled}}disabled{{/if}}></textarea>
    {{#if errorId}}<div class="textarea__error" id="{{errorId}}"></div>{{/if}}
</div>