<div class="{{inputContainerClass}}">
    {{#if label}}<label class="{{labelClass}}" for="{{labelFor}}">{{labelText}}</label>{{/if}}
    <input class="input {{inputClass}}" type="{{inputType}}" autocomplete="{{autocomplete}}" name="{{inputName}}" placeholder="{{inputPlaceholder}}"> 
    {{#if error}}<div class="{{inputError}}">{{errorText}}</div>{{/if}}
</div>
