
<div class="product-card" id="{{id}}">

    <div class="product-card__img"></div>

    <div class="product-card__name"></div>

    <div class="product-card__reviews">
        <a href="{{reviewsHref}}">
                    <div class="product-card__rate">
                        <img src="{{starHref}}" class="{{starClass}}">
                        <span class="{{productRateClass}}">{{productRate}}</span> 
                    </div>
                    <div>
                        <span class="product-card__cout-reviews">
                            {{reviewsCount}}
                        </span>
                    </div>
        </a>
    </div>

    <div class="product-card__price">
        <span>
            {{price}}
        </span>
    </div>
</div>
