<button class="button {{class}}" type="{{type}}" id="{{id}}">
    {{#if imgSrc}} <img class="{{imgClass}}" src="{{imgSrc}}" alt="{{altText}}"/> {{/if}}
    {{#if text}}<span class="button__text">{{text}}</span>{{/if}}
</button>
