<button class="button {{class}}" type="button" id="{{id}}" data-id="{{data}}">
    {{#if imgSrc}} <img class="{{imgClass}}" src="{{imgSrc}}" alt="{{altText}}"/> {{/if}}
    {{#if text}}<span class="button__text {{spanClass}}">{{text}}</span>{{/if}}
</button>
