<a class="link {{class}} {{spanClass}}" href="{{href}}" id="{{id}}" data-href="{{href}}">
    {{#if imgSrc}} <img class="{{imgClass}}" src="{{imgSrc}}" alt="{{altText}}"/> {{/if}}
    {{#if textClass}}<span class="{{textClass}}">{{text}}</span>
    {{else}} {{text}}
    {{/if}}
</a>
