<a class="link {{class}}" href="{{href}}" id="{{id}}" data-href="{{href}}">
    {{#if imgSrc}} <img class="{{imgClass}}" src="{{imgSrc}}" alt="{{altText}}"/> {{/if}}
    {{#if text}} <span class="{{spanClass}}">{{text}}</span> {{/if}}
</a>
