<a class="link {{class}}" href="{{href}}" id="{{id}}" data-href="{{href}}">
    {{#if withImg}} <img class="{{imgClass}}" src="{{imgSrc}}"> {{/if}}
    {{#if withText}} <span class="{{spanClass}}">{{text}}</span> {{/if}}
</a>
