<div class="address-card {{#if addressIsCurrent}}current-address{{/if}}" id="{{addressId}}">
    <div class="address-title">
        Адрес
    </div>
    <div class="address-data">
        г.{{city}}, {{street}}, д.{{house}}, кв.{{flat}}
        <img src="./static/images/edit-icon.svg" alt="изменить" class="address-edit" id="edit-{{addressId}}">
    </div> 
    {{#unless addressIsCurrent}}<span class="address-delete" id="delete-{{addressId}}">Удалить</span>{{/unless}}
    {{#unless addressIsCurrent}}<span class="address-current" id="current-{{addressId}}">Выбрать текущим</span>{{/unless}}
</div>
