<div class="info-row {{class}}" id="{{id}}">
    <div class="info-row__name-container">
        <span class="info-row__text {{nameClass}} name">{{name}}</span>
    </div>
    <span class="info-row__text info-row__value value">{{value}}</span>
</div>
