{{!-- <link rel="stylesheet" href="./src/components/a/a.css"> --}}

{{!-- <a class="{{a-class}}" href="{{a-href}}">{{a-text}}</a> --}}

{{!-- <div class="{{a-container-class}}">
    <a class="{{a-class}}" href="{{a-href}}">
        {{#if withImg}} <img class="{{img-class}}" src="{{img-src}}"> {{/if}}
        <span class="{{a-span-class}}">{{a-text}}</span>
    </a>
</div> --}}


<a class="{{aClass}}" href="{{aHref}}" id="{{id}}" data-href="{{aHref}}">
    {{#if withImg}} <img class="{{imgClass}}" src="{{imgSrc}}"> {{/if}}
    {{#if withText}} <span class="{{aSpanClass}}">{{aText}}</span> {{/if}}
    {{!-- тоже в иф обернуть? --}}
</a>
