
<div class="{{productCardClass}}" id="{{id}}">

    <div class="product-img"></div>

    <div class="product-name"></div>

    <div class="product-rate">
        <a href="{{reviewsHref}}">
            <div class="product-rate-count">
                <img src="{{starHref}}" class="{{starClass}}">
                <span class="{{productRateClass}}">{{productRate}}</span> 
            </div>
            <div>
                <span class="{{reviewsCountClass}}">
                    {{reviewsCount}}
                </span>
            </div>
        </a>
    </div>

    <div class="product-class">
        <span class="{{priceClass}}">
            {{price}}
        </span>
    </div>

    <div class="product-button"></div>

</div>