<div class="category-card" id="{{id}}" {{data}}>

    <div class="category-card__img-place"></div>

    <div class="category-card__info">
        <div class="category-card__name"></div>

        <div class="product-card__reviews">
            <a href="{{reviewsHref}}" class="product-card__reviews-link category-card__reviews-link">
                <div class="product-card__rate">
                    <img src="{{starHref}}" class="{{starClass}} star-icon__img">
                    <span class="product-card__rate__text">{{productRate}}</span> 
                </div>
                <span class="product-card__count-reviews">
                    {{reviewsCount}}
                </span>
            </a>
        </div>
    </div>
    
    <div class="category-card__management">
        <div class="product-card__price category-card__price">
            <span class="product-card__price-value category-card__price">
                {{price}}
            </span>
        </div>
    </div>
    
</div>